:root {
    --primary-color:#097969; /* Current primary color */
}

/* General Admonition Styling */
.admonition {
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
    background-color: #e2e2e2;
    border-color: #787878;
}

.admonition .admonition-title {
    font-weight: 600;
    margin-bottom: -.4rem;
}

/* Specific Admonition Types */
.admonition.tip {
    background-color: #f3f5f7;
    border-color: #42b983;
}
.admonition.hint {
    background-color: #f3f5f7;
    border-color: #42b983;
}

.admonition.important,
.admonition.note {
    background-color: #e5f1fb;
    border-color: #5faaea;
}

.admonition.warning,
.admonition.caution {
    background-color: #ffe5644d;
    border-color: #e7c000;
    color: #6b5900;
}

.admonition.warning .custom-block-title,
.admonition.caution .custom-block-title {
    color: #b29400;
}

.admonition.warning a,
.admonition.caution a {
    color: var(--text-color);
}

.admonition.danger,
.admonition.error {
    background-color: #ffe6e6;
    border-color: #c00;
    color: #4d0000;
}

.admonition.danger .custom-block-title,
.admonition.error .custom-block-title {
    color: #900;
}

.admonition.danger a,
.admonition.error a {
    color: var(--text-color);
}

/* Dark Theme Admonition Styles */
.theme-dark .admonition.tip,
.theme-dark .admonition.hint {
    background-color: #404040;
    border-color: #42b983;
}

.theme-dark .admonition.important,
.theme-dark .admonition.note {
    background-color: #404040;
    border-color: #5faaea;
}

.theme-dark .admonition.warning,
.theme-dark .admonition.caution {
    background-color: #404040;
    border-color: #e7c000;
    color: #b29400;
}

.theme-dark .admonition.warning .custom-block-title,
.theme-dark .admonition.caution .custom-block-title {
    color: #d5b100;
}

.theme-dark .admonition.danger,
.theme-dark .admonition.error {
    background-color: #404040;
    border-color: #c00;
    color: #b30000;
}

.theme-dark .admonition.danger .custom-block-title,
.theme-dark .admonition.error .custom-block-title {
    color: #c00;
}

